<div class="app-header-container">
  <button mat-flat-button color="primary" (click)="switchView()" *ngIf="!showBack()">{{paymentList ? 'View Cards' : 'View Payment History'}}</button>
  <button mat-flat-button color="primary" (click)="onBack()" *ngIf="showBack()">{{'Back'}}</button>
  <button mat-flat-button color="accent" (click)="onPay()" *ngIf="showMakePayment()">Make Payment</button>
</div>
