.app-container {
  background-color: #f7f7f7;
  height: 100%;
  padding: 40px 60px;
  @media (max-width: 600px) {
    padding: 40px 20px;
  }

  .app-content {
    max-width: 800px;
    margin: 0 auto;
  }
}
