<div class="card-container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{ card?.cardNumber }}</mat-card-title>
      <mat-card-subtitle class="subtitle">
        <div>{{ card?.cardHolderName }}</div>
        <div *ngIf="card?.date">Payment date: {{ card?.date | date }}</div>
        </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
