.card-container::ng-deep {
  margin: 5px;
  cursor: pointer;

  .mat-card {
    .mat-card-header {
      .mat-card-header-text {
        width: 100% !important;
      }
    }
  }

  .subtitle {
    display: flex;
    justify-content: space-between;
    @media (max-width: 600px) {
      flex-direction: column;
    }
  }
}
