<h2 mat-dialog-title>{{ data.title }}</h2>
<div mat-dialog-content>{{ data.content }}</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{ data.cancelBtnText }}</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>{{ data.confirmBtnText }}</button>
</mat-dialog-actions>
