<div class="card-form-container">
  <!-- <mat-spinner [mode]="'indeterminate'" [value]="'0'">></mat-spinner> -->
  <form class="form" [formGroup]="cardFormGroup">
    <div class="payment-date" *ngIf="card?.date">
      <div>Payment date: {{ card?.date | date }}</div><hr>
    </div>

    <div class="field card-number">
      <div class="label">Card number *</div>
      <input class="box card-number" formControlName="cardNumber">
      <app-error [errors]="getError('cardNumber')"></app-error>
    </div>

    <div class="field card-holder">
      <div class="label">Cardholder name *</div>
      <input class="box" formControlName="cardHolderName">
      <app-error [errors]="getError('cardHolderName')"></app-error>
    </div>

    <div class="field-flex">
      <div class="field">
        <div class="label">Expiry Date *</div>
        <div class="box exp-field">
          <input class="" [matDatepicker]="picker" placeholder="MM/YYYY" formControlName="cardExpiryDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="multi-year" (yearSelected)="chosenYearHandler($event)"
            (monthSelected)="chosenMonthHandler($event, picker)"></mat-datepicker>
        </div>
        <app-error [errors]="getError('cardExpiryDate')"></app-error>
      </div>

      <div class="field">
        <div class="label">Security Code</div>
        <div class="flex-row">
          <input class="box security-code" formControlName="cardCCV" type="password">&nbsp;
          <div class="fs-10">3 digits at the back of your card</div>
        </div>
        <app-error [errors]="getError('cardCCV')"></app-error>
      </div>
    </div>

    <div *ngIf="!update" class="field amount">
      <div class="label">Amount *</div>
      <input class="box card-amount" formControlName="cardPayAmount">
      <app-error [errors]="getError('cardPayAmount')"></app-error>
    </div>

    <ng-container *ngIf="!view">
      <button *ngIf="update" mat-flat-button color="primary" type="button" (click)="submit('update')">Update Card</button>
      <button *ngIf="update && card" mat-flat-button color="accent" type="button" (click)="submit('delete')">Delete Card</button>

      <button *ngIf="!update" mat-flat-button color="primary" type="button" (click)="submit('save')">Save Card</button>
      <button *ngIf="!update" mat-flat-button color="accent" type="button" (click)="submit('pay')"
        [disabled]="cardFormGroup.invalid">Pay</button>
    </ng-container>

  </form>
</div>
