@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin flex-row {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-form-container {
  @include flex-column;
  background-color: white;
  border: 1px solid #ebebeb;
  margin: 40px 0;
  padding: 40px;

  .form {
    max-width: 500px;
  }

  .field {
    @include flex-column;
    margin-bottom: 20px;
  }

  .payment-date {
    margin-bottom: 20px;
    font-weight: 500;
  }

  .card-amount,
  .card-number {
    max-width: 300px;
  }

  .card-holder {
    max-width: 500px;
  }

  .security-code {
    max-width: 80px;
  }

  .exp-field {
    display: flex;
    width: 110px;
    input {
      border: none !important;
      width: 100%;
    }
  }

  .fs-10 {
    font-size: 10px;
  }

  .flex-row {
    @include flex-row;
    @media(max-width: 600px) {
      align-items: center;
    }
  }

  .field-flex {
    @include flex-row;
    @media (max-width: 600px) {
      @include flex-column;
    }
  }

  .box {
    line-height: 35px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    padding: 0 5px;
  }

  mat-label {
    margin-bottom: 5px;
  }

  button {
    margin-right: 20px;
    @media(max-width: 400px) {
      width: 100%;
      margin-bottom: 10px;
    }
  }

}
